.header {
    font-size: 17px; 

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

  }

  .info {
    font-size: 17px; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;  
  }