<div class="ui top inverted dark fixed menu">
  <a style="margin-right: 2%; margin-left:1%; color:white; margin-top:1%; margin-bottom: 1%; margin-left: 1%; font-family: 'Source Code Pro', monospace; font-size: 20px;"><b>WorkHub</b></a>
  <a class=" item"  routerLink="/home">Home</a>
  <a class="item" routerLink="/Login">
    login
  </a>
</div>

<h3 class="header" style="margin-left: 35%; margin-top: 15%; position: relative;"
 >Sorry ! Your company was blocked by admin
  <i class="hourglass start icon" style='color: green;'></i></h3>
<h3 class="header" style="margin-left: 35%; margin-top: 5%; position: relative;"
>For more details send email to "admin@mail.com"</h3>
