<div class="pusher">
  <div style="margin-left: 300px; width:250px" class="ui cards" >
    <div class="card" ng-repeat="bill in bills">
      <div class="content">
        <div class="header">
          naaa
        </div>
        <div class="meta">
          ijj
        </div>
      </div>

      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Edit</div>
          <div class="ui basic red button">Delete</div>
        </div>
      </div>
    </div>
  </div>
  </div>
  