<div
  class="ui top inverted dark fixed menu"
  style="position: fixed; min-height: 6rem;"
>
  <a
    style="margin-right: 2%; display:flex; margin-left:4%; color:white; margin-top:1.7%; margin-bottom: 1%; margin-left: 1%; font-family: 'Source Code Pro', monospace; font-size: 20px;"
    ><b>WorkHub <font color="yellow">Admin</font></b></a
  >
  <a class="item" routerLink="/admin/block-ip">
    Block ip
  </a>
  <a class="item" routerLink="/admin/users">
    Manage users
  </a>
  <a class="item" routerLink="/admin/allCompanies">
    Manage company
  </a>
  <a class="item" routerLink="/admin/projects-type">
    Manage types of projects
  </a>
  <a class="item" routerLink="/admin/skills">
    Manage skills
  </a>
  <div class="right menu">
    <app-profile-view style="margin: 10px 15px 8px 10px"></app-profile-view>
  </div>
</div>