
     <app-header></app-header>
     
     <div class="ui top attached tabular menu" style='margin-top: 120px;'>
   
    
      <div class="left menu">
          <div class="item">
            <div class="ui transparent icon input">
              <input style="margin-left:auto;margin-right:auto;display:block; font-size: 20px" type="text" (keyup)="filter($event)" #filter_field placeholder="Search project...">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
    </div>
  
    <div class="ui bottom attached segment">

      <table class="ui selectable celled table" style="width: 100%;">
      <thead>
        <tr class="header">
          <td></td>
        <td>Project Name</td>
        <td>Description</td>
        <td> Status</td>
        <td>Budget</td>
        <td>Type of project</td>
        <td>Company</td>
        <td>Skills</td>
        <td></td>


      </tr>
      </thead>
      <tbody>
          <tr class="info" *ngFor="let projectByCompany of projects | paginate: { itemsPerPage: page_size, currentPage: pageNumber, totalItems: pages_count * page_size }"
          >
          <td> <img [src]="projectByCompany.photo" style="width: 175px; height: 100px;"></td>

          <td>{{projectByCompany.name}}</td>
          <td>{{projectByCompany.description}}</td>
          <td>
             <p>{{projectByCompany.projectStatus}}</p>
          <button class="ui red button" style='width: 120px;' [ngClass]="{ 'disabled' : projectByCompany.projectStatus === 'IN_PROGRESS' || projectByCompany.projectStatus === 'COMPLETED' || 
           projectByCompany.projectStatus === 'EXPIRED' || projectByCompany.projectStatus === 'FAILED' || projectByCompany.projectStatus === 'BLOCKED'}" (click)="changestatus(projectByCompany.id, projectByCompany.projectStatus='BLOCKED')">Block</button>
          
           <button class="ui green button" style='width: 120px;'[ngClass]="{ 'disabled' : projectByCompany.projectStatus === 'NEW' || projectByCompany.projectStatus === 'IN_PROGRESS' || projectByCompany.status === 'COMPLETED' || 
           projectByCompany.projectStatus === 'EXPIRED' || projectByCompany.projectStatus === 'FAILED' } " (click)="changestatus(projectByCompany.id, projectByCompany.projectStatus='NEW')">Unblock</button>
            

           </td>
          <td>{{projectByCompany.budget}}</td>
          <td>
            <p>{{projectByCompany.projectType.name}}</p>  
            <mat-form-field>
            <mat-label>Type</mat-label>
             <mat-select (selectionChange)="changetype(projectByCompany.id, projectByCompany.projectType.name)" [(value)]="projectByCompany.projectType &&  projectByCompany.projectType.name ">
              <mat-option *ngFor="let type of projectType" [value]="type.name">
              {{type.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>

        </td>
          <td>{{projectByCompany.companyCreator.name}}</td>

          <td> <a *ngFor="let skill of projectByCompany.skillSet">
            
            {{skill.name}} </a></td>
     
          <td>
          <button class="ui right labeled icon button" (click)="open(projectByCompany.id)" >Manage comments</button>
        </td>

         </tr>
      </tbody>

      <div *ngIf="pages_count > 1">
          <pagination-controls (pageChange)="change_page($event)"></pagination-controls>
        </div>
    </table>


    <ng-template let-context let-modal="modal" #modalTemplate>
        <div class="header">Manage comment</div>
        <div class="content">
    
            <div class="six wide column">
                <app-comments [project_id]="id_project" style="margin-top: 10%; margin-left: 5%; margin-bottom : 2%;"></app-comments>
              </div>


        </div>
        <div class="actions">
            <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
    
          </div>
    </ng-template>

   
