<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

</head>
<body>

  <!-- <div class="ui top inverted dark fixed menu">
    <a routerLink="/home" style="margin-right: 2%; margin-left:1%; color:white; margin-top:1%; margin-bottom: 1%; margin-left: 1%; font-family: 'Source Code Pro', monospace; font-size: 20px;"><b>WorkHub</b></a>
    <a class="item">Login</a>
    <a class="item" routerLink="/registration">
      Registration
    </a>
  </div> -->
  
  <app-header-for-non-auth></app-header-for-non-auth>



<div id="home" class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="example-orbit-content" data-orbit>
        <li data-orbit-slide="headline-1">
          <div class="container">
          <img class="header" src="https://1.bp.blogspot.com/-2k9TG8wi03U/XUW3aG9P6eI/AAAAAAAADY4/VQKXvee1amgDzRf9iZSsd1-CB4Cj16jEQCLcBGAs/s1600/6.jpg">

          <p><a href="/home#foremployer"><button class="btn" >EMPLOYER</button></a></p>
          <p><a href="/home#foremployee"><button class="btn1" >EMPLOYEE</button></a></p>

        </div>
        </li>
      </ul>
 </div>

<div id="offering" class="box">
 <div class="row column text-center">
  <p><a href="/home#offering"><img class="whatweoffer" src="https://1.bp.blogspot.com/-XuGTWbdzV-g/XUW-tJrDq7I/AAAAAAAADZQ/qzEtU661wp0WK2klJMqZrbKJX3XOGH5BgCLcBGAs/s1600/7.jpg">
    </a></p></div>

        <div class="row">
            <div class="medium-6 columns medium-push-6">
             <h2>Need work done?</h2>
             <p>It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.</p>
            </div>
            <div class="medium-6 columns medium-pull-6">
            <img class="thumbnail" src="https://1.bp.blogspot.com/-oHGsDXqQAYs/XToiNogQ5XI/AAAAAAAADMw/ng0_b8f5YFgtYlcFNjhAKTXHbvK-rShvwCLcBGAs/s1600/2.jpg">
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns medium-push-6">
             <img class="thumbnail" src="https://1.bp.blogspot.com/-y8M0eTu07EI/XToiNsmqRxI/AAAAAAAADMs/q0USJ8qGMH40M2nzVCWkQQqdT3Sgo3oYwCLcBGAs/s1600/3.jpg">
            </div>
            <div class="medium-6 columns medium-pull-6">
            <h2>What's great about it?</h2>
             <p> - You'll receive free bids from our talented freelancers within seconds.</p>
             <p> - Find professionals you can trust by browsing their samples of previous work and reading their profile reviews.</p>
             <p> - You can live chat with your freelancers to get constant updates on the progress of your work.</p>
             </div>
        </div>

        <div class="row">
            <div class="medium-6 columns medium-push-6">
             <h2>Why WORKHUB ?</h2>
             <h4>We have many opportunities:</h4>
             <p>- communication and collaboration platform. Some platforms provide a workroom and chat tool to enable workers to contact clients any time for clarifications;</p>
             <p>- rate freelancers. These platforms also have a mechanism to rate freelancers based on their outputs. You can highlight your best performers or warn other businesses of problematic freelancers;</p>
             <p>- shortlist candidates. You can shortlist applicants worldwide and conduct interviews to select good fits for your project.</p>
           </div>
            <div class="medium-6 columns medium-pull-6">
            <img class="thumbnail" src="https://1.bp.blogspot.com/-pa_GQZNEFKs/XToiOVzuuJI/AAAAAAAADM0/D8axq5_42EoebFt5JmI9F6zAPvxOXnNHgCLcBGAs/s1600/4.jpg">
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns medium-push-6">
             <img class="thumbnail" src="https://1.bp.blogspot.com/-kPpawERq_kY/XToiOnDF5QI/AAAAAAAADM4/mvVg_YF0g2IXLNhQcbQSM9IGxNHuw55XACLcBGAs/s1600/5.jpg">
            </div>
            <div class="medium-6 columns medium-pull-6">
                <p> This is a great online platform for anyone who wants to put their knowledge into practice and earn extra income.
                    Students, graduate students, young professionals, teachers of schools and high schools, tutors, researchers,
                    teachers, professionals - join! Register and earn with your own mind!

                    Good luck!
                </p>
              </div>
        </div>
 </div>

 <div>
  <div class="row column text-center">
   <p><a href="/home#home"><img class="pointer" src=" https://1.bp.blogspot.com/-0Dlzpm_sDc4/XUcyLoElTZI/AAAAAAAADa8/_CBMljBxrm0AFWlS7DdDM5i5-d_vPEvHgCLcBGAs/s1600/iconpointer.jpg">
     </a></p></div>
</div>

 <div id="foremployer">
 <div class="row column text-center">
  <p><a href="/home#foremployer"><img class="logo" src="https://1.bp.blogspot.com/-nMMkFaWGYTk/XUcwEyoYwVI/AAAAAAAADaw/FvHIvhzqPVwBPpl3dttFp5ptgyWBNmhXQCLcBGAs/s1600/logo.jpg">
    </a></p></div>
    <div id="foremployer">
      <div class="row column text-center">
       <p><a href="/home#foremployer"><img class="logo2" src="https://1.bp.blogspot.com/-kl7dR2taitg/XUc1OeUAnGI/AAAAAAAADbI/--v5zg9URWgla01sYgHOE1PpNcVZy39RwCLcBGAs/s1600/logo2.jpg">
         </a></p></div>
        </div>
  <div class="row small-up-2 medium-up-3 large-up-4">
  <div class="column">
    <img class="employer" src="https://1.bp.blogspot.com/-jYRLpn-eeAw/XUcoykEr4GI/AAAAAAAADZk/O7r1lZtIH6A8OeaJFXXBcV_1cc_okcfqACLcBGAs/s1600/1.png">
    <h5>Complete your profile</h5>
    <div class="media-object">
      <div class="media-object-section">
      <img class="step" src="https://1.bp.blogspot.com/-0f_6t7o4qAU/XUctgxAgUBI/AAAAAAAADaU/cyNUl8i07lM2FBCFv5C-ErEqIb6vlW7pwCLcBGAs/s1600/1step.jpg">
      </div>
      <div class="media-object-section">
      <p>- Fill in the form with the information about yourself</p>
      <!-- <p>- Upload a professional profile photo</p>  -->
      <p>- Join to company or create own company</p>
      </div>
      </div>
    </div>

  <div class="column">
  <img class="employer" src="https://1.bp.blogspot.com/-VlkAbB6EJAE/XUcoyrA5nrI/AAAAAAAADZg/Cnqx8Tz0FYE2bXnoBgoqXKrPzla8bEXTACLcBGAs/s1600/2.gif">
  <h5>Search jobs</h5>
  <div class="media-object">
    <div class="media-object-section">
    <img class="step" src="https://1.bp.blogspot.com/-rJv2YFU9Rt4/XUctg6ZKh6I/AAAAAAAADac/MNaI6RkcgUwICBT32bA8BebFuz5nucoXgCLcBGAs/s1600/2step.jpg">
    </div>
    <div class="media-object-section">
    <p>- Browse jobs that suit your skills, expertise, price, and schedule.</p>
    <p>  We have jobs available for all skillsWe have jobs available for all skills.</p>

    </div>
    </div>
  </div>

  <div class="column">
    <img class="employer" src="https://1.bp.blogspot.com/-n_OEV4cnkXA/XUcoytgLxcI/AAAAAAAADZc/z23Pi3ed4KQSMT9l3ftiupHnybQGjGGDwCLcBGAs/s1600/3.png">
    <h5>Just work</h5>
    <div class="media-object">
      <div class="media-object-section">
      <img class="step" src="https://1.bp.blogspot.com/-f_tmfn0s_mU/XUctg1HMfoI/AAAAAAAADaY/IsOgk4GgFFAG0ZBGJNVL0WV7HwgOKvGwQCLcBGAs/s1600/3step.jpg">
      </div>
      <div class="media-object-section">
      <p>- Apply an application and wait when it will be accepted.</p>
      <p>- Get ready to work once you get hired.</p>
      </div>
      </div>
    </div>

    <div class="column">
      <img class="employer" src="https://1.bp.blogspot.com/-HwUVHZjSqRE/XUcrXN7W7lI/AAAAAAAADaI/MF_S--GQXvgia0toxO0CIecdq_oW2e3CgCLcBGAs/s1600/6.png">
      <h5>Leave a review</h5>
      <div class="media-object">
        <div class="media-object-section">
        <img class="step" src="https://1.bp.blogspot.com/-7LZDRQX3ogg/XUcthi02UtI/AAAAAAAADag/UDAL2DjPZHIw_X3LWtQlYLLUUBdcEI8fQCLcBGAs/s1600/4step.jpg">
        </div>
        <div class="media-object-section">

        <p>Deliver high quality work and earn the agreed amount.</p>
        <p>Evaluate the work of the employer.</p>

        </div>
        </div>
      </div>
    </div>

    <div>
      <div class="row column text-center">
       <p><a href="/home#home"><img class="pointer" src=" https://1.bp.blogspot.com/-0Dlzpm_sDc4/XUcyLoElTZI/AAAAAAAADa8/_CBMljBxrm0AFWlS7DdDM5i5-d_vPEvHgCLcBGAs/s1600/iconpointer.jpg">
         </a></p></div>
  </div>

  </div>


<div id="foremployee">
  <div class="row column text-center">
   <p><a href="/home#foremployee"><img class="logo3" src="https://1.bp.blogspot.com/-ANfTAwhnV-Y/XUc43pnV-JI/AAAAAAAADbU/IVoLiGq9IIAc11YnZpkaprzcR2eu8EfQwCLcBGAs/s1600/logo3.jpg">
     </a></p></div>
     <div id="foremployee">
       <div class="row column text-center">
        <p><a href="/home#foremployee"><img class="logo2" src="https://1.bp.blogspot.com/-kl7dR2taitg/XUc1OeUAnGI/AAAAAAAADbI/--v5zg9URWgla01sYgHOE1PpNcVZy39RwCLcBGAs/s1600/logo2.jpg">
          </a></p></div>
         </div>
   <div class="row small-up-2 medium-up-3 large-up-5">
   <div class="column">
     <img class="employee" src="https://1.bp.blogspot.com/-5_31Pk92piU/XUdXUW2hUwI/AAAAAAAADbk/z8fypXkLPS8ooInUBuUhkv_2eQ7o_de1gCLcBGAs/s1600/1logo.jpg">
     <h5>Complete your profile</h5>
     <div class="media-object">
       <div class="media-object-section">
       <img class="step" src="https://1.bp.blogspot.com/-0f_6t7o4qAU/XUctgxAgUBI/AAAAAAAADaU/cyNUl8i07lM2FBCFv5C-ErEqIb6vlW7pwCLcBGAs/s1600/1step.jpg">
       </div>
       <div class="media-object-section">
          <p>- Fill in the form with the information about yourself</p>
          <p>- Join to company or create own company</p>
       </div>
       </div>
     </div>

   <div class="column">
   <img class="employee" src="https://1.bp.blogspot.com/--NBvEvEljOA/XUdYJJO1YkI/AAAAAAAADcM/wcxfQjCBbo4xR1zoNfsnK3lbNEZqlF0-wCLcBGAs/s1600/6logo.jpg">
   <h5>Add your project</h5>
   <div class="media-object">
     <div class="media-object-section">
     <img class="step" src="https://1.bp.blogspot.com/-rJv2YFU9Rt4/XUctg6ZKh6I/AAAAAAAADac/MNaI6RkcgUwICBT32bA8BebFuz5nucoXgCLcBGAs/s1600/2step.jpg">
     </div>
     <div class="media-object-section">
     <p>We will immediately notify all freelancers about your application.</p>
     </div>
     </div>
   </div>

   <div class="column">
     <img class="employee" src="https://1.bp.blogspot.com/-F8tLsr1r8qA/XUdXUTqHGmI/AAAAAAAADbg/KgjtLbI0DRcS-wugNL6GQXbqD_FLxERbACLcBGAs/s1600/3logo.jpg">
     <h5>Offering</h5>
     <div class="media-object">
       <div class="media-object-section">
       <img class="step" src="https://1.bp.blogspot.com/-f_tmfn0s_mU/XUctg1HMfoI/AAAAAAAADaY/IsOgk4GgFFAG0ZBGJNVL0WV7HwgOKvGwQCLcBGAs/s1600/3step.jpg">
       </div>
       <div class="media-object-section">
       <p>In just a few minutes, the performers will begin to offer you their services.</p>
       </div>
       </div>
     </div>

     <div class="column">
       <img class="employee" src="https://1.bp.blogspot.com/-aoEAcpDXlNc/XUdXVEWCwZI/AAAAAAAADbs/kA450VqFzkoBVFW41-Gou1teMk0n0ENSACLcBGAs/s1600/4logo.jpg">
       <h5>Start to cooperate</h5>
       <div class="media-object">
         <div class="media-object-section">
         <img class="step" src="https://1.bp.blogspot.com/-7LZDRQX3ogg/XUcthi02UtI/AAAAAAAADag/UDAL2DjPZHIw_X3LWtQlYLLUUBdcEI8fQCLcBGAs/s1600/4step.jpg">
         </div>
         <div class="media-object-section">
         <p>Choose the offer you like and the freelancer will begin work on the project.</p>
         </div>
         </div>
       </div>


     <div class="column">
      <img class="employee" src="https://1.bp.blogspot.com/-0qwuXCIzLV0/XUdXVfqm6rI/AAAAAAAADbw/cdiFGiqw4SArGrsFFybDFOhzZqd0ozHLQCLcBGAs/s1600/5logo.jpg">
      <h5>Leave a review</h5>
      <div class="media-object">
        <div class="media-object-section">
        <img class="step" src="https://1.bp.blogspot.com/-E4ZfWOshAdE/XUdbJ8DxHoI/AAAAAAAADcY/huMXUpmMfGsCDoz5MA0KAIvf0pgfyyS1gCLcBGAs/s1600/5step.jpg">
        </div>
        <div class="media-object-section">
        <p>After completion of work to evaluate the work of the employee</p>
        </div>
        </div>
      </div>

    </div>

</div>

     <!-- <div>
       <div class="row column text-center">
        <p><a href="/home#home"><img class="pointer" src=" https://1.bp.blogspot.com/-0Dlzpm_sDc4/XUcyLoElTZI/AAAAAAAADa8/_CBMljBxrm0AFWlS7DdDM5i5-d_vPEvHgCLcBGAs/s1600/iconpointer.jpg">
          </a></p></div>
   </div>

   <div class="row column text-center">
    <img class="hotprojectheaader" src="https://1.bp.blogspot.com/-j1Qy2iM_pMY/XToktIVnizI/AAAAAAAADNM/MV0GNxdE61AGQ4YhVd3c54x7HEF79_TFQCLcBGAs/s1600/Hot_B-512.jpg">
    
    </div>
    <div class="row small-up-2 large-up-4">
    
    
    <div class="column" *ngFor="let project of hotproject">
    <img class="company" src="https://static.thenounproject.com/png/26704-200.png">
    <h5>Project Name:
     {{project.name}}
    </h5>
    <p>Description: {{project.description}}</p>
    <p>Budget: {{project.budget}}</p>
    <p>Company: {{project.companyCreator.name}}</p>
    <p>Type of Project: {{project.projectType.name}}</p>
    <a href='/login'>
    <img class="button_readmore" src="http://www.concoursinteriors.net/Buttons/read_more.gif">
    </a>
    
    </div>
    </div> -->
    

<hr>

<div class="row">

<div class="medium-6 columns">
<h4><img class="companyType" src="https://1.bp.blogspot.com/-Wutrlu_4E_s/XToujbJn6sI/AAAAAAAADNY/JuqQoQ22rpAn5H2I86aXj1MY99r6DoaIACLcBGAs/s1600/Employee.jpg"></h4>
<div class="media-object"  *ngFor="let top_comp_employee of top_comp_employee">
<div class="media-object-section">
    <img class="companyicon" src="https://cdn0.iconfinder.com/data/icons/stock-market-3/64/enterprise-organization-business-company-team-512.png">
</div>
<div class="media-object-section">
<h5>Name of company: {{top_comp_employee.name}}</h5>
<p [innerHTML]="top_comp_employee.description">Description:</p>
<p>Average mark: {{top_comp_employee.avgMark}}</p>

<a [routerLink]="['/view/company', top_comp_employee.id]">

  <img class="button_readmore" src="http://www.concoursinteriors.net/Buttons/read_more.gif">
  </a>
</div>
</div>
</div>

<div class="medium-6 columns" >
    <h4><img class="companyType" src="https://1.bp.blogspot.com/-bYHDl7vyh04/XToujcaZwPI/AAAAAAAADNc/h3IrnlD0Iz8uFZor1FS69dEFCL0ZTnzSwCLcBGAs/s1600/Employer.jpg"></h4>

<div class="media-object" *ngFor="let top_comp_employer of top_comp_employer">
<div class="media-object-section">
<img class="companyicon" src="https://cdn0.iconfinder.com/data/icons/stock-market-3/64/enterprise-organization-business-company-team-512.png">
</div>
<div class="media-object-section">
<h5>Name of company: {{top_comp_employer.name}}</h5>
<p [innerHTML]="top_comp_employer.description">Description:</p>
<p>Average mark: {{top_comp_employer.avgMark}}</p>
<a [routerLink]="['/view/company', top_comp_employer.id]">
  <img class="button_readmore" src="http://www.concoursinteriors.net/Buttons/read_more.gif">
  </a>
</div>
</div>
</div>
</div>
<div class="callout large secondary">
<div class="row">
<div class="large-4 columns">
<h5>About Site</h5>
<p>Information</p>
</div>
<div class="large-3 large-offset-2 columns">
<ul class="menu vertical">
<li><a href="#">Login</a></li>

</ul>
</div>
<div class="large-3 columns">
<ul class="menu vertical">
<li><a href="#">Registration</a></li>

</ul>
</div>
</div>
</div>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
</script>


</body>
</html>
