
<div class="ui top inverted dark fixed menu">
  <a style="margin-right: 2%; margin-left:1%; color:white; margin-top:1%; margin-bottom: 1%; margin-left: 1%; font-family: 'Source Code Pro', monospace; font-size: 20px;"><b>WorkHub</b></a>
  <a class="item" routerLink='/login' *ngIf="!change_password">Login</a>
  <a class="item" routerLink="/registration" *ngIf="!change_password">
    Registration
  </a>
</div>


<div style="text-align:center">

  <div *ngIf="message" class="message" style="width: 30%; margin-left: 32%;">

    <div class="ui negative message">
      <div class="header">
         {{message}}
      </div>
    </div>

  </div>

</div>

<div class="ui segment" style="width: 30%; margin-left: 32%; margin-top: 10%;" *ngIf="!change_password">

  <div *ngIf="mail_sent" style="text-align: center;">
    <div class="ui positive message">
      <div class="header">
        Recovery mail was successfully sent
      </div>
    </div>
  </div>

  <h3 style="text-align: center; margin-top: 5%; margin-bottom: 10%;">Your email address</h3>

  <h5 style="text-align: center; margin-top: 5%; margin-bottom: 10%;">Please, provide your account's email so we can send you a recovery mail</h5>

  <form [formGroup]="recoveryForm" (ngSubmit)="recover(recoveryForm.value)" class="ui form" style='margin-left: 25%; margin-bottom: 10%;'>
    <div class="two fields">
      <div class="field" [ngClass]="{ 'error' : submitted && recoveryForm.controls.email.errors, 'disabled' : mail_sent}">
        <input type="text" formControlName="email" [ngClass]="{'disabled' : mail_sent}" placeholder="Email">
      </div>
      <div class="field" [ngClass]="{'disabled' : mail_sent}">
        <button class="ui inverted primary button">Recover</button>
      </div>
    </div>
    <p style='color: red' *ngIf="submitted && recoveryForm.controls.email.errors">Invalid email address</p>
  </form>

</div>


<div class="ui segment" style="width: 30%; margin-left: 32%; margin-top: 10%;" *ngIf="change_password">
    <h4 *ngIf="!change_success"><i class="check circle icon" style='color: green'></i> Done! Now enter new password</h4>
    <h4 *ngIf="change_success"><i class="check circle icon" style='color: green'></i> New password successfully saved! <a routerLink='/employee'>Continue</a></h4>
    <form class="ui form" (ngSubmit)="changePasswordWithToken(change_password_form.value)" [formGroup]="change_password_form">
    <div class="field" [ngClass]="{'disabled' : change_success}">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="thestrongestpassword">
      <p *ngIf="password_change_submitted && change_password_form.controls.password.errors" style='color: red;'>Password must contain at least 1 lower case letter, 1 upper case letter and 1 digit. Minimal length - 6 chars</p>
    </div>
    <div class="field" [ngClass]="{'disabled' : change_success}">
      <label>Repeat password</label>
      <input type="password" formControlName="repeated_password" placeholder="thestrongestpassword">
      <p *ngIf="password_change_submitted && change_password_form.value.repeated_password != change_password_form.value.password" style='color: red;'>Repeated password must match with password</p>
    </div>
    <button [ngClass]="{'disabled' : change_success}" class="ui button" type="submit">Change password</button>
  </form>
</div>
